/* Estilos básicos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #f8f9fa; /* Cinza claro */
    padding: 10px;
    text-align: center;
}

/* Estilos específicos para as seções */

#sobre {
    background-color: #f0f8ff; /* Azul claro */
}

#desafios {
    background-color: #f0f8ff; /* Azul claro */
}

#solucoes {
    background-color: #f0f8ff; /* Azul claro */
}

#conclusao {
    background-color: #f0f8ff; /* Azul claro */
}

